body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.container-one,
.container-two,
.container-three,
.container-four,
.footer {
    padding: 16px 128px;
}

.bg-dark {
    background-color: #1F2937;
}

.bg-grey {
    background-color: #E5E7EB;
}

.bg-darkgrey {
    background-color: #6c747d;
}

.bg-blue {
    background-color: #3882F6;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.container-one {
    display: flex;
    padding-top: 128px;
    padding-bottom: 128px;
}

.container-one .left,
.container-one .right {
    flex: 1;
}

.container-one h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.container-one p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

.container-one .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.btn-white {
    display: inline-block;
    border-radius: 6px;
    background-color: #3882F6;
    padding: 8px 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid white;
}

.container-two {
    margin-bottom: 88px;
}

.container-two h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card-img {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 150px;
}

.card {
    width: 160px;
    text-align: center;
}

.card p {
    font-size: 18px;
    color: #6a727e;
    margin: 8px 0;
}

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px 128px;
}

.container-three h2 {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 0;
}

.quote h3 {
    margin-left: auto;
    margin-top: 0;
}

.quote {
    width: 850px;
    display: flex;
    flex-direction: column;
}

.container-four {
    padding-top: 64px;
    padding-bottom: 64px;
}

.blue-box {
    padding: 48px 128px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue-box h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.blue-box p {
    font-size: 18px;
    color: #c6d4ed;
    margin: 8px 0;
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    font-size: 18px;
    color: #c6d4ed;
}